.bodyContainer{
    background-image: url('assets/images/silhouette.png');
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.organImg{
    height: 20%;
    position: absolute;
    &.heart{
        height: 15%;
        top: 35%;
        left: 15%;
        z-index: 1;
    }
    &.lungs{
        height: 30%;
        top: 30%;
        left: 12%;
    }
}