body{
    font-family: 'Roboto';
    background-color: rgb(84, 202, 229) ;

    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    z-index: 1;
}
#home{
  height: 80vh;
  background-color: rgb(84, 202, 229) ;
  z-index: 1;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/images/topSoleil.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    background-size: 50%;
  }
 h1{
position: relative;
  font-size: 4rem;
  z-index: 30;
  height: 50%;
  display: flex;
  align-items: center;
}

cite{
  font-size: 2rem;
}}
.bottom1{
    &::before{
        content: "";
        width: 100%;
        height: 120%;
    position: absolute;

    top: -10%;
    background-image: url("assets/images/bottom1.svg");
    background-size: cover;
    z-index: 0;
}}
.bodyOceanContainer{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bodyContainer{
    width: min-content;
    height: 100%;
    width: 30%;
    min-width: 30%;
    min-height: 100%;
    background-image: url("assets/images/Silhouette.svg");
    background-repeat: no-repeat;
    position: relative;
    background-position: center;

   
}
.explications{
    position: relative;
    z-index: 5;
    width: 33%;
    left: 0;
    &*{
        font-size: 1rem;
    }
    .illustrationCorps{
        object-fit: contain;
        width: 100%;
        margin-right: 0;
        margin-top: 0;
    }
}


.organImg{
    cursor: pointer;
    height: 20%;
    position: absolute;
    filter: grayscale(80%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    &:hover{
        filter: grayscale(0%);
        transform: scale(1.1);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }

    &.heart{
        height: 22%;
        top: 18%;
        right: 35%;
        z-index: 1;

        &:hover{
            filter: grayscale(0%);
            transform: scale(1.1);
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
        }
    }
    &.lungs{
        height: 40%;
        top: 8%;
        left: 33%;
        
    }
    &.stomach{
        height: 35%;
        top: 40%;
        left: 33%;
    }
}